* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:teal;
}

.pata {
    display: flex;
    width: 70px;
    margin-right: 0px;
    border-radius: 15%;
    background-color: #006663;
}

label {
    background-color: #006663;
    font-family: Arial, sans-serif;
    margin-bottom: 7px;
    font-weight: bold;
}

.form_header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #006663;

}

.form_registro {
    width: 400px;
    background-color: #006663;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    color: aliceblue;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);

}

.form_registro h2{
    background-color: #006663;
font-size: 22px;
margin-left: 14px;
}

.controls {
    width: 100%;
    background-color: #8ef3f0;
    padding: 10px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: rgba(56, 55, 59, 0.89);
    margin-bottom: 10px;
}

.direccion{
    width: 100%;
    background-color: #8ef3f0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #8ef3f0;
    font-family: Arial, sans-serif;
    font-size: 20px;
    height: 80px;
    resize: none;
}

.butom {
    width: 100%;
    background-color: #8ef3f0; 
    color:dimgray;
    padding: 15px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 20px 0;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    transition: background-color 0.8s ease; 
}

.butom:hover {
    background-color: #FF6B1A; 
}

.genero_cont {
    background-color: #006663;
    margin-bottom: 15px;
    padding: 10px;
   
}

label{
    background-color: #006663;
    font-family: Arial, sans-serif;
    font-size: 20px;
   
}

#sexo-hembra{
    margin-left: 40px;
}

.selec_id {
    background-color: #006663;
}

.nombreCliente{
    background-color: #006663;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}







